/* general styles */

body {
    font-size: 18px;
    background-color: #120723;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 0.9em;
}

ul {
    font-size: 0.9em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 0.8em;
    margin-top: auto;
}

/* navigation styles */

#main-nav {
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30%;
    /* background-color: #4e2b69; */
    text-transform: uppercase;
    background: rgb(35,14,51);
    background: linear-gradient(90deg,
    rgba(35,14,51,1) 0%,
    rgba(78,43,105,1) 25%,
    rgba(53,9,121,1) 50%,
    rgba(6,25,103,1) 75%,
    rgba(4,4,92,1) 100%);    
}

#main-nav .nav-link {
    text-decoration: none;
    color: #e1d3dd;
}

#main-nav .nav-link:hover {
    color: #e3bd3f;
}

#main-nav .nav-link::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #101518;
    transition: all 250ms ease-in-out ;
}

#main-nav .nav-link:hover::before {
    width: 100%;
}

#main-nav .active {
    text-decoration: none;
    font-weight: 600;
    color: #00b5a1;
}

#main-nav img {
    max-height: 50px;
    cursor: pointer;
}

#search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30%;
    padding-bottom: 15px;
    background: linear-gradient(90deg,
    rgba(35,14,51,1) 0%,
    rgba(78,43,105,1) 25%,
    rgba(53,9,121,1) 50%,
    rgba(6,25,103,1) 75%,
    rgba(4,4,92,1) 100%);
}

#search-nav #search {
    height: 20px;
    font-size: 0.8em;
    color: rgb(93, 93, 93);
    background-color: whitesmoke;
    border: 2px solid rgb(93, 93, 93);
    width: 16%;
    padding: 10px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

#search-nav #search::placeholder {
    color: gray;
}

#search-nav #search:focus {
    color: whitesmoke;
    outline: none;
    background-color: rgba(35,14,51,1);
    border: 2px solid #00b5a1;
    width: 300px;
    border-radius: 10px;
}

#search-nav #search:focus::placeholder {
    color: rgba(255, 255, 255, 0);
}

.favorite-bubble {
    background-color: whitesmoke;
    position: fixed;
    width: 130px;
    height: 130px;
    bottom: 10px;
    right: 10px;
    border: 5px solid #101518;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite-bubble img {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    padding-top: 7px;
    filter: invert(44%) sepia(87%) saturate(2476%) hue-rotate(145deg) brightness(102%) contrast(101%);
}

.favorite-bubble p {
    margin: 0px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 10;
    font-weight: bold;
    color: white;
}

.favorite-status{
    filter: invert(44%) sepia(87%) saturate(2476%) hue-rotate(145deg) brightness(102%) contrast(101%);
}

/* content styling */

#container {
    padding: 10px 40px;
}

.trending .content, #gifs .content, #uploaded .content {
    padding: 10px 20px;
    margin: 0 auto;
}

#uploaded .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 5px;
    margin-bottom: 20px;
}

.gif-box {
    width: 200px;
    margin-bottom: 10px;
}

.gif-box img{
    cursor: pointer;
    width: 100%;
}

.detailed-gif{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.detailed-gif .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 65px;
    border: 4px solid #00b5a1;
    border-radius: 15%;
    height: fit-content;
    width: 20%;
}

.detailed-gif .info-container p {
    display: flex;
    align-items: center;
}

.detailed-gif .gif-container #gif-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

img.user-avatar {
    height: 30px;
    border-radius: 50%;
    margin: auto 5px;
}

img.favorite-status {
    height: 30px;
}

#home, #about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    text-align: center;
}

#profile, #favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile #upload-box {
    padding: 5%;
    border: 4px solid #00b5a1;
    border-radius: 15px;
}

#profile #uploaded {
    text-align: center;
    margin: 2% 0%;
}
