body {
    font-size: 18px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 0.9em;
}

#main-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30%
}

#main-nav .nav-link {
    text-decoration: none;
    color: rgb(60, 3, 42);
}

#main-nav .active {
    text-decoration: none;
    color: rgb(225, 11, 157);
    font-weight: 600;
}

#search-nav {
    display: flex;
    justify-content: center;
}
