/* general styles */

body {
    font-size: 18px;
    background-color: #120723;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 1.8em;
    padding-left: 20px;
    color: #ff416d;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 0.9em;
}

ul {
    font-size: 0.9em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: 0.8em;
    margin-top: auto;
    color: rgba(245, 245, 245, 0.537);
}

/* navigation styles */

#main-nav {
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25% 10px;
    text-transform: uppercase;
    background: rgb(35,14,51);
    background: linear-gradient(90deg,
    rgba(35,14,51,1) 0%,
    rgba(78,43,105,1) 25%,
    rgba(53,9,121,1) 50%,
    rgba(6,25,103,1) 75%,
    rgba(4,4,92,1) 100%);  
    gap: 20px;  
}

#main-nav .nav-link {
    text-decoration: none;
    color: #e1d3dd;
    text-align: center;
}

#main-nav .nav-link:hover {
    color: #e3bd3f;
}

#main-nav .nav-link::before {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #00b5a1;
    transition: all 250ms ease-in-out ;
}

#main-nav .nav-link:hover::before {
    width: 100%;
}

#main-nav .active {
    text-decoration: none;
    font-weight: 600;
    color: #00b5a1;
}

#main-nav img {
    max-height: 50px;
    cursor: pointer;
}

#search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30%;
    padding-bottom: 15px;
    background: linear-gradient(90deg,
    rgba(35,14,51,1) 0%,
    rgba(78,43,105,1) 25%,
    rgba(53,9,121,1) 50%,
    rgba(6,25,103,1) 75%,
    rgba(4,4,92,1) 100%);
    box-shadow: 0 5px 2px -2px rgb(27, 15, 37);
}

#search-nav #search {
    height: 20px;
    font-size: 0.8em;
    color: rgb(93, 93, 93);
    background-color: whitesmoke;
    border: 2px solid rgb(93, 93, 93);
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

#search-nav #search::placeholder {
    color: gray;
}

#search-nav #search:focus {
    color: whitesmoke;
    outline: none;
    background-color: rgba(35,14,51,1);
    border: 2px solid #00b5a1;
    width: 300px;
    border-radius: 10px;
}

#search-nav #search:focus::placeholder {
    color: rgba(255, 255, 255, 0);
}

.favorite-bubble {
    background-color: whitesmoke;
    position: fixed;
    width: 130px;
    height: 130px;
    bottom: 10px;
    right: 10px;
    border: 4px solid rgb(93, 93, 93);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite-bubble img {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    padding-top: 7px;
    filter: invert(44%) sepia(87%) saturate(2476%) hue-rotate(145deg) brightness(102%) contrast(101%);
}

.favorite-bubble p {
    margin: 0px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 10;
    font-weight: bold;
    color: white;
}

.favorite-status{
    filter: invert(44%) sepia(87%) saturate(2476%) hue-rotate(145deg) brightness(102%) contrast(101%);
}

/* content styling */

#container {
    padding: 10px 40px;
}

.trending .content, #gifs .content, #uploaded .content {
    padding: 10px 20px;
    margin: 0 auto;
}

#uploaded .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 5px;
    margin-bottom: 20px;
}

#gifs p {
    text-align: center;
}

.gif-box {
    width: 200px;
    margin-bottom: 10px;
}

.gif-box img {
    cursor: pointer;
    width: 100%;
}

.detailed-gif {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    gap: 30px;
}

.detailed-gif .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 65px;
    background-color: #00a491;
    border-radius: 15%;
    height: fit-content;
    width: 250px;
}

.detailed-gif .info-container p {
    display: flex;
    align-items: center;
}

.detailed-gif .info-container .details {
    justify-content: center;
    font-weight: 700;
}

.detailed-gif .gif-container #gif-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#related-gifs {
    margin: 20px 0;
}

#related-gifs h2 {
    padding-left: 7%;
    padding-top: 20px;
}

#related-gifs .content {
    padding: 10px 20px;
    margin: 0 auto;
}

#related-gifs #not-found {
    padding-top: 10px;
    text-align: center;
}

img.user-avatar {
    height: 50px;
    border-radius: 50%;
    margin: auto 15px;
}

img.favorite-status {
    height: 30px;
}

#home, #about, #error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .content ul {
    padding-left: 20%;
}

#home img, #error img{
    height: 20%;
}

#about {
    text-align: center;
}

#about h1 {
    padding: unset;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile h1, h2 {
    text-align: center;
}

.random p {
    text-align: center;
}

#profile #upload-box {
    width: 50%;
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    background-color: #00b5a1;
}

#profile #uploaded {
    text-align: center;
    margin: 2% 0%;
}

#upload-box .custom-file-upload {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-right: 0;
    color: #00b5a1;
}
#upload-box .custom-file-upload:hover {
    background-color: rgb(118, 118, 118);
    color: whitesmoke;
}
#upload-box .custom-file-upload:active {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

#upload-box input[type="file"] {
    display: none;
}

#upload-box .submit {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0 5px 5px 0;
    background-color: #024f46;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

#upload-box .submit:hover {
    background-color: rgb(118, 118, 118);
    cursor: pointer;
}

#upload-box .submit:active {
    background-color: #000000;
}

.empty-nest {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: rgb(112, 3, 132);
    text-decoration: none;
}

.empty-nest:hover {
    cursor: pointer;
    background-color: rgb(66, 12, 87);
}

.empty-nest:active {
    background-color: #000000;
}



/* loader ellipse */
.loader-ellipse {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }
  
  .loader-ellipse__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #ff416d;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  .loader-ellipse__dot:nth-child(1),
  .loader-ellipse__dot:nth-child(2) {
    left: 0;
  }
  .loader-ellipse__dot:nth-child(3) { left: 1.5em; }
  .loader-ellipse__dot:nth-child(4) { left: 3em; }
  
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  
  .loader-ellipse__dot:nth-child(1) {
    animation-name: reveal;
  }
  
  .loader-ellipse__dot:nth-child(2),
  .loader-ellipse__dot:nth-child(3) {
    animation-name: slide;
  }
  
  .loader-ellipse__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }